<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head section -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyerSeller</title>
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
     crossorigin="anonymous">
     <!--slick slider-->
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <!--Font-->
     <script src="./Resources/fontawesome-free-6.2.0-web"></script>
     <!--Custom Stylesheet-->
     <link rel="stylesheet" href="./style/style.css">
</head>

<!-- body section -->
<body>
    <!--all scripts insertion-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/main.js"></script>
    <!--jquery cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!--Header section-->
    <header>
     	<div class="col-md-4 col-12 text-center">
        	<h2 class="my-md-3 site-title text-white text-center text-justify">Buyer Seller</h2>
        </div> 
        <!-- <div class="col-md-4 col-12 test-right">
        </div> -->  
        <!--navigation menu-->
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login" th:href="@{/login}">Log In</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  href="/signup" th:href="@{/signup}">Sign Up</a>
                      </li>
                     <!--  <li class="nav-item">
                        <a class="nav-link active" href="#">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                      </li>-->
                    </ul>
                  </div>
                  <!--search icon-->
                  <div class="navbar-nav">
                    <input type="text" class="form-control" placeholder="Search items to buy">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        Search
                      </button>
                    </div>
                  </div>
              </nav>
        </div>
    </header>

    <!--Main section-->
    <main>
        
    </main>

    <!--Footer Section-->
    <footer>
       
    </footer>
</body>
</html>