<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sellers</title>
	<!-- bootstrap for css cdn -->
	<link rel="stylesheet" 
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
		crossorigin="anonymous">
		
		<!--Font-->
     <script src="./Resources/fontawesome-free-6.2.0-web"></script>
     <!--Custom Stylesheet-->
     <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<!--Header section-->
    <header>
     	<div class="col-md-4 col-12 text-center">
        	<h2 class="my-md-3 site-title text-white text-center text-justify">Buyer Seller/ Admin Account</h2>
        </div> 
        <!-- <div class="col-md-4 col-12 test-right">
        </div> -->  
        <!--navigation menu-->
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link active" href="#">Users</a>
                      </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="/buyers-list">Buyers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/sellers-list">Sellers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/items-list">Items</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                      </li>
                    </ul>
                  </div>
              </nav>
        </div>
    </header>
    <!--Main section-->
    <main>
	<div class="container">
		<div class="row">
			<h1>Sellers List</h1>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
   					<tr>
     			 		<th scope="col">Seller User Name</th>
     			 		<th scope="col">Seller Email</th>
   				 	</tr>
  				</thead>
  				<tbody>
    				<tr th:each="seller : ${sellers}">
      					<tdth:text="${seller.userName}"></td>
      					<tdth:text="${seller.email}"></td>
    				</tr>
  				</tbody>
			</table>
		</div>
	</div>
 </main>
 
  <!--Footer Section-->
 <footer>
       
 </footer>
</body>
</html>